body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 5px;
  background-color: rgb(159, 78, 78);
  overflow-x: hidden;
  transition: background-color 0.5s ease;
}

#timer {
  font-size: 10rem;
  font-weight: 700;
  text-shadow: 2px 2px black;
  color: #ecf0f1;
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

#buttons {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 600px;
  margin: auto;
}

#container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 0px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.options {
  margin: 10px;
  padding: 10px 20px 2px 12px;
  border: medium;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: ArialRounded;
  height: 30%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  opacity: 1;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.options.active {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(19, 18, 18, 0.3);
}

#startPauseButton {
  background-color: white;
  color: rgb(255, 104, 104);
  border: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 4rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(19, 18, 18, 0.3);
  transition: all 0.2s;
}

@media (max-width: 768px) {
  #timer {
    font-size: 100px;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  #container {
    max-width: 100%;
    width: 100%;
  }
  button {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    max-width: 96%;
  }
}
